/*Universal Code */



body {
    background: #C1E1C1;
    border: 5px solid #FFD1DC;
    color: white;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    color: #D9B382;
    font-weight: bolder;
}

.footerText {
    color: #D9B382;
    font-style: bolder;
}




/* Site Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* track */
::-webkit-scrollbar-track {
    background: #F1F1F1;
}

/* handle */
::-webkit-scrollbar-thumb {
    background: #D9B382;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.footer {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 14px;
}

.footerText {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 14px;
}



/* Social Media Logos */



.socialBanner {
    display: block;
    margin-left: auto;
    margin-right: 50px;
    max-width: 50%;
}

.githubLogo {
    position: static;
    width: 35px;
    padding: 6px;
}

.linkedinLogo {
    position: static;
    width: 35px;
    padding: 6px;
}



/* Navigation Bar */




.topnav {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    text-align: center;
}

.firstAndLastName {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 60px;
    animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #E60073, 0 0 20px #E60073, 0 0 25px #E60073, 0 0 30px #E60073, 0 0 35px #E60073;
    }

    to {
        text-shadow: 0 0 15px #fff, 0 0 20px #ff4da6, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 80px #ff4da6;
    }
}

.topnav a.active {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.topnav a {
    float: none;
    text-align: center;
    color: #B5B5B5;
    font-size: 25px;
    text-decoration: none;
}

.topnav a:hover {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #FFD1DC;
    opacity: 80%;
    transition: .5;
}

.topnav li {
    display: inline-block;
    justify-content: center;
    list-style: none;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 0 20px;

}



/* Index Page */



h1 {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
}

.title {
    color: white;
    text-align: left;
    text-decoration: none;
    margin-left: 40px;
}


a:link {
    text-decoration: none;
}

.landingPageTitles {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    text-align: center;
    height: 10vh;
}




/* landing title overlays */
.titleOverlays {
    align-items: center;
    display: block;
    justify-content: center;
    margin: auto;
}

/* resume -- css overlay */
/* container needed to position the overlay */
.keyboardContainer {
    height: 250px;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
}

/* makes image below responsive */
.keyboard {
    display: block;
    width: 900px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.keyboardOverlay {
    background: rgba(0, 0, 0, 0.5);
    /* black see-through */
    bottom: 225px;
    color: white;
    display: block;
    font-size: 20px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    position: relative;
    text-align: center;
    transition: .5s ease;
    width: 900px;
}

.resumeText {
    font-family: 'Montserrat', sans-serif;
    padding-top: 3em;
    position: relative;
}

/* hovering over the container fades the overlay title*/
.keyboardContainer:hover .keyboardOverlay {
    opacity: 1;
}

/* about -- css overlay */
/* container needed to position the overlay */
.aboutContainer {
    height: 250px;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
}

.writing {
    display: block;
    width: 900px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.aboutOverlay {
    background: rgba(0, 0, 0, 0.5);
    /* black see-through */
    bottom: 225px;
    color: white;
    display: block;
    font-size: 20px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    position: relative;
    text-align: center;
    transition: .5s ease;
    width: 900px;
}

.aboutText {
    font-family: 'Montserrat', sans-serif;
    padding-top: 3em;
    position: relative;
}

/* hovering over the container fades the overlay title */
.aboutContainer:hover .aboutOverlay {
    opacity: 1;
}

/* contact -- css overlay */
/* container needed to position the overlay */
.contactContainer {
    height: 250px;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
}

/* makes image below responsive */
.contact {
    display: block;
    width: 900px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.contactOverlay {
    background: rgba(0, 0, 0, 0.5);
    /* black see-through */
    bottom: 225px;
    color: white;
    display: block;
    font-size: 20px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    position: relative;
    text-align: center;
    transition: .5s ease;
    width: 900px;
}

.contactText {
    font-family: 'Montserrat', sans-serif;
    padding-top: 3em;
    position: relative;
}

/* hovering over the container fades the overlay title*/
.contactContainer:hover .contactOverlay {
    opacity: 1;
}



/* Resume Page */



.techStackContainer01 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-align: center;
}


.techStackContainer02 {
    background: #D9B382;
    border: 15px dotted #FFD1DC;
    border-radius: 10px 100px / 120px 100px;
    display: grid;
    height: 25vh;
    margin: 20px;
    max-width: 100%;
    padding: 100px;
    width: auto;
}

.techImg {
    height: 180px;
    text-align: center;
    margin-left: 90px;
    margin-right: 90px;
    width: auto;
}


.resumeListing {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.resumeGreeting {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.resumeFrame {
    display: inline-block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-inline: 190px;
    padding-block: 50px;
}

.resumeVerbiage {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.stackHeaderFrontEnd {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
    white-space: nowrap;
    word-spacing: 50px;
}



/* About Page */



.typingText {
    background: var(--bg-color);
    display: grid;
    font-family: 'Source Code Pro', monospace;
    place-content: center;
    margin: 0;
    min-height: 50vh;
    text-align: center;

}

.firstLine {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    font-family: 'Source Code Pro', monospace;
    position: relative;
    text-align: center;
    width: max-content;
    --bg-color: rgba(193, 225, 193);
    --typewriterSpeed: 5.5s;
    --typewriterCharacters: 35;
}

.firstLine::before,
.firstLine:after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.firstLine::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

.firstLine::after {
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards, blink 750ms steps(var(--typewriterCharacters)) infinite;
    background: black;
    width: 0.125em;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Contact Page*/



.contactTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    text-align: center;
}

.contactForm {
    border: #555;
    background-color: #E60073;
    border-radius: 25px;
    box-sizing: border-box;
    display: inline-block;
    left: 50%;
    padding: 20px 20px;
    top: 50%;
    transform: translate(50%, 50%);
    width: 50%;
}

input[type=text],
select,
textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Source Code Pro', monospace;
    padding: 8px;
    resize: vertical;
    width: 60%;
}

input[type=submit] {
    font-family: 'Montserrat', sans-serif;
    padding: 8px;
}

input[type=submit]:hover {
    background-color: #C1E1C1;
    font-family: 'Montserrat', sans-serif;
    padding: 8px;
}








/* Media Queries */



/* For TV and Extra Large Screens */
@media screen and (min-width: 1201px) {
    .firstAndLastName {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        visibility: visible;
    }

    .summaryLabel {
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        text-align: center;
        visibility: visible;
    }

    .titleOverlays {
        visibility: visible;
    }

    .landingPageTitles {
        visibility: hidden;
    }
}

/*For Large Screen and Desktops */
@media only screen and (max-width: 1200px) and (min-width: 1025px) {
    .firstAndLastName {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        visibility: visible;
    }

    .summaryLabel {
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        text-align: center;
        visibility: visible;
    }

    .titleOverlays {
        visibility: visible;
    }

    .landingPageTitles {
        visibility: hidden;
    }
}


/* For Laptops and Small Screens */
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .firstAndLastName {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        visibility: visible;
    }

    .summaryLabel {
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        text-align: center;
        visibility: visible;
    }

}

/* For iPads and Tablets */
@media only screen and (max-width: 768px) and (min-width: 481px) {
    .firstAndLastName {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        visibility: visible;
    }

    .summaryLabel {
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        text-align: center;
        visibility: visible;
    }

    .titleOverlays {
        visibility: hidden;
    }
}

/* For Mobile Devices */
@media all and (max-width: 480px) and (min-width: 0px) {
    .firstAndLastName {
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }

    .summaryLabel {
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
    }

    .landingPageTitles {
        visibility: visible;
    }

    .titleOverlays {
        visibility: hidden;
    }

    .topnav {
        visibility: hidden;
    }
}