/*Universal Code */



body {
    background: #C1E1C1;
    color: white;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* track */
::-webkit-scrollbar-track {
    background: #F1F1F1;
}

/* handle */
::-webkit-scrollbar-thumb {
    background: #D9B382;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



/* Social Media Logos */



.socialBanner {
    position: absolute;
}

.githubLogo {
    position: absolute;
    width: 40px;
    height: auto;
    top: -1260px;
    left: 185px;
}

.linkedinLogo {
    position: absolute;
    width: 40px;
    height: auto;
    top: -1260px;
    left: 265px;
    
}




/* Navigation Bar */



.topnav {
    position: absolute;
    overflow: hidden;
    display: flex;
    right: 0px;
}

.topnav a.active {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.topnav a {
    float: none;
    text-align: center;
    color: #B5B5B5;
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #FFD1DC;
    opacity: 80%;
}

nav li {
    display: inline-block;
    justify-content: center;
    list-style: none;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 0 20px;
    
}



/* Landing Page */




h1 {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    }

.title {
    color: white;
    text-align: left;
    text-decoration: none;
    margin-left: 40px;
}


a:link {
    text-decoration: none;
}

.heading {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    text-decoration: none;
    margin-top: -20px;
    margin-left: 10px;  
}

/* bar line*/
hr {
        width: 20%;
        height: 2px;
        border: 0 none;
        margin-right: 40px;
        margin-left: auto;
        margin-top: 10px;
        margin-bottom:90px;
        background-color:#B5B5B5;
        opacity: 50%;
    }

.landingPageTitles {
    text-align: center;
    font-size: 110px;
    text-align-last: 80px;
}

.welcomeTitle {
    font-family: 'Montserrat', sans-serif;
}

.resumeTitle {
    font-family: 'Montserrat', sans-serif;
}

.aboutTitle {
    font-family: 'Montserrat', sans-serif;
}

.contactTitle {
    font-family: 'Montserrat', sans-serif;
}

/* on contact page only */
.miniJordan {
    position: absolute;
    max-width: 26%;
    height: auto;
    top: -80px;
    left: 670px;
}




/* Landing Title Overlays */



/* resume -- css overlay */
/* container needed to position the overlay */
.keyboardContainer {
    position: relative;
    width: 100%;
    max-width: 300px;
}

/* makes image below responsive */
.keyboard {
    display: block;
    width: 100%;
    height: auto;
}

.keyboardOverlay {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.5); /* black see-through */
    color: #F1F1F1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    text-align: center;
}

/* hovering over the container fades the overlay title*/
.keyboardContainer:hover .keyboardOverlay {
    opacity: 1;
}


/* contact -- css overlay */
/* container needed to position the overlay */
.contactContainer {
    position: relative;
    width: 100%;
    max-width: 300px;
}

/* makes image below responsive */
.contact {
    display: block;
    width: 100%;
    height: auto;
}

.contactOverlay {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.5); /* black see-through */
    color: #F1F1F1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    text-align: center;
}

/* hovering over the container fades the overlay title*/
.contactContainer:hover .contactOverlay {
    opacity: 1;
}




/* Resume Page */



.techResumeDownload {
    position: absolute;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%);
}

.resumeListing {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.resumeText {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.resumeFrame {
    display: inline-block;
    height: 1000px;
    width: 80%;
    margin-inline: 190px;
}